* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    width: 100%;
}

body {
    color: #33475b;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #f5f8fa;
}

.container {
    width: 80%;
    margin: auto;
}

.nav-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-top,
.nav-bottom {
    font-size: 15px;
}

.botton {
    color: white;
    background-color: #ff7a59;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid white;
}    

.small-container {
    width: 60%;
    margin: auto;
}

/* HEADER */

/* NAV TOP */
.nav-top {
    background-color: #f5f8fa;
    border-bottom: 1px solid black;
}

.nav-top span {
    border-right: 1px solid black;
    padding-left: 10px;
    margin-right: 10px;
}

.nav-top .col-left a {
    text-decoration: none;
    color: #33475b;
}

.fa-chevron-down {
    font-size: 12px;
    vertical-align: middle;
}

.col-right {
    text-align: right;
}

.col-left,
.col-right {
    width: 50%;
    float: left;
}
/* COL RIGHT */
.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
}

li:first-child a {
    color: #07a9c3;
    font-size: 13px;
}

.menu .login {
    border: 1px solid #ff7a59;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ff7a59;
}

.menu .botton {
    padding: 10px 10px;
}
/* END NAV TOP */

/* NAV BOTTOM */
.nav-bottom {
    background-color: white;  /* CAMBIARE IL COLORE IN BIANCO */
}

.logo {
    width: 20%;
}

.nav-bottom .col-left {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bottom .menu li {
    margin-left: 20px;
}
.nav-bottom .menu span {
    margin-left: 10px;
}
/* END NAV BOTTOM */

/* BANNER */
.banner {
    height: 470px;
    background-color: #fef6ef;
    background-image: url("../img/jumbotron.png");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    display: block;
}

.main-text {
    width: 50%;
}

.banner h1 {
    padding-top: 40px;
}

.banner .botton {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.banner h1 {
    font-size: 40px;
}

.banner p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
}

.main-text div {
    font-size: 10px;
    padding-top: 30px;
}
/* END BANNER */
.row {
    height: 60px;
    background-color: #87e1d6;
    border-bottom: 2px solid #33475b;
    border-top: 2px solid #33475b;
}
/* END HEADER */

/* MAIN */
.main-logo {
    width: 200px;
    margin: auto;
    padding-top: 40px;
}

.small-container h2 {
    text-align: center;
}

main .container p {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
}

/* FIRST SECTION */
.first-row {
    background-color: white;
    border-radius: 5px;
}

.first-col {
    float: left;
    width: 30%;
    margin: auto;
    padding: 50px 0;
}

.col-img {
    width: 150px;
    margin: auto;
}

.first-col .botton {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-top: 25px;
}

.second-col {
    float: left;
    width: 70%;
    padding-top: 45px;
}

.container p.font {
    text-align: left;
    font-size: 16px;
}

.line-feature h3 {
    float: left;
    width: 40%;
}
.line-feature div {
    float: left;
    border-bottom: 2px solid #33475b;
    width: 50%;
    padding-top: 11px;
}

.second-col li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

.second-col ul {
    margin-top: 20px;
}

.second-col i {
    color: #ff7a59;
}

/* THREE COL */
.three-col {
    margin-top: 30px;
}

.three-col .col-left,
.col-middle,
.col-right {
    float: left;
    width: 30%;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
 .col-middle {
     margin: 0 5%;
 }

 .three-col .col-img {
     margin-top: 10px;
     width: 100px;
 }

 .three-col p.font {
     text-align: center;
     width: 80%;
     margin: auto;
     font-size: 13px;
 }

 .three-col h3 {
     margin-top: 20px;
 }

 .line {
     border-bottom: 2px solid #33475b;
     width: 80%;
     margin: auto;
 }

 .three-col ul {
     text-align: left;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 10%;
}

.three-col i {
    color: #ff7a59;
    margin-right: 10px;
}

.three-col .botton {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-top: 35px;
    margin-bottom: 25px;
}

.three-col .col-middle .col-img {
    width: 125px;
}
.three-col .col-right .col-img {
    width: 91px;
}