* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    width: 100%;
}

body {
    color: #33475b;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #f5f8fa;
}

.container {
    width: 80%;
    margin: auto;
}

.nav-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.nav-top,
.nav-bottom {
    font-size: 15px;
}

.botton {
    color: white;
    background-color: #ff7a59;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid white;
}    

.small-container {
    width: 60%;
    margin: auto;
}

/* HEADER */

/* NAV TOP */
.nav-top {
    background-color: #f5f8fa;
    border-bottom: 1px solid black;
}

.nav-top span {
    border-right: 1px solid black;
    padding-left: 10px;
    margin-right: 10px;
}

.nav-top .col-left a {
    text-decoration: none;
    color: #33475b;
}

.fa-chevron-down {
    font-size: 12px;
    vertical-align: middle;
}

.col-right {
    text-align: right;
}

.col-left,
.col-right {
    width: 50%;
    float: left;
}
/* COL RIGHT */
.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
}

li:first-child a {
    color: #07a9c3;
    font-size: 13px;
}

.menu .login {
    border: 1px solid #ff7a59;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ff7a59;
}

.menu .botton {
    padding: 10px 10px;
}
/* END NAV TOP */

/* NAV BOTTOM */
.nav-bottom {
    background-color: white;  /* CAMBIARE IL COLORE IN BIANCO */
}

.logo {
    width: 20%;
}

.nav-bottom .col-left {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bottom .menu li {
    margin-left: 20px;
}
.nav-bottom .menu span {
    margin-left: 10px;
}
/* END NAV BOTTOM */

/* BANNER */
.banner {
    height: 470px;
    background-color: #fef6ef;
    background-image: url("../img/jumbotron.png");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    display: block;
}

.main-text {
    width: 50%;
}

.banner h1 {
    padding-top: 40px;
}

.banner .botton {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}

.banner h1 {
    font-size: 40px;
}

.banner p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
}

.main-text div {
    font-size: 10px;
    padding-top: 30px;
}
/* END BANNER */
.row {
    height: 60px;
    background-color: #87e1d6;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
/* END HEADER */

/* MAIN */
.main-logo {
    width: 200px;
    margin: auto;
    padding-top: 40px;
}

.small-container h2 {
    text-align: center;
}

main .container p {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
}